:root {
  --accentColor: #dc8a78;
  --accentColorIntense: #db5132;
  --accentColorWeak: #edbfb5;
  --surfaceColor: #ccd0da;
  --backgroundColor: #eff1f5;
  --borderColor: #dce0e8;
  --textColor: #373849;
  --subTextColor: #36374F;
  --transparent: #00000000;

  background: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--textColor);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;

  zoom: 95%;
}

input {
  background-color: var(--surfaceColor);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
}

input:focus {
  background-color: var(--accentColorWeak);
}

button {
  background-color: var(--surfaceColor);
  scale: 1;
  border-radius: 5px;
  transition: scale 0.5s ease;
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: var(--accentColorWeak);
  scale: 1.1;
}

button:active {
  scale: 1;
  background-color: var(--accentColor);
}

.slogan {
  font-size: 50px
}